*.log
.env
config.dev.json
config.json
# Git
.git
.gitignore
.gitattributes

# CI
.codeclimate.yml
.travis.yml
.taskcluster.yml

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Distribution / packaging
env/
build/
dist/
node_modules/

# Vim swap files
**/*.swp

# IDE directories
.vscode/
.vscode-insiders/
.idea/
